@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #ffffff;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}

input, button, select, textarea {
  font-family: inherit;
}

button {
  transition: all .15s;
}

button:hover {
  opacity: 0.85;
}

.name {
  border: solid 1px black;

}